# MacOS Files
.DS_Store
*.icloud

# Build Files and Dependencies
node_modules
/build
/.svelte-kit
.vercel
.prisma
/package
deployment-url.txt
error-log.txt
src/lib/models/types/database.types.ts
closed_pull_requests.txt
open_deploy_requests.txt

# Local Secrets
.env
.env.*
!.env.example

# Vite Temp Files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Test Artifacts
coverage
e2e/test-results
e2e/artifacts

# Node Notebooks and manually created tmp files
*.nnb
/notebooks
*.tmp.ts
