@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Write your global styles here, in PostCSS syntax */
html,
body {
    @apply h-full overflow-hidden;
    @apply bg-white dark:bg-surface-900;
}

.content-visibility-auto {
    content-visibility: auto;
}
